@page "/"

<PageTitle>Home</PageTitle>

<input type="text" @bind="name1" placeholder="名前を入力" />
<p>@name1</p>

<input type="text" @bind="name2" placeholder="名前を入力" @bind:event="oninput" />
<p>@name2</p>

@code {
    string name1 { get; set; } = "";
    string name2 { get; set; } = "hoge";
}


<input type="checkbox" @bind="isChecked" />
<p>@isChecked</p>

@code {
    bool isChecked {get; set;}
}

<select name="" id="" @bind="selectedKey">
    @foreach (var item in list)
    {
        <option value="@item.Key">@item.Value</option>
    }
</select>
<p>@selectedKey</p>

@code {
    string selectedKey = "";
    Dictionary<string, string> list = new Dictionary<string, string>()
    {
        {"key1", "value1"},
        {"key2", "value2"},
        {"key3", "value3"},
        {"key4", "value4"}
    };
}
